<div class="container-fluid">

    <h3>Telephony Node/Channels</h3>

    <hr/>
    
    <div ng-if="nodes.length == 0">
        <div class="alert alert-warning" role="alert">
            Channels are not loaded. Please consult the system administrator.
        </div>
    </div>

    <div ng-repeat="node in nodes">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> Node:
                    {{node.node.iso3166CountryCode}}/{{node.node.inetAddress}}/{{node.node.state}}</h4>
            </div>

            <div class="panel-body">

                <div ng-if="node.channels.length == 0">
                    <div class="alert alert-warning" role="alert">
                        <span ng-if="node.node.state == 'FAILED'">
                            Provisioning of the node has failed. Is the node running?
                        </span>
                        <span ng-if="node.node.state == 'PROVISIONED'">
                            Node has been provisioned but no spans/ channels could be found. Is Asterisk running on the remote node?
                        </span>
                    </div>
                </div>

                <table ng-if="node.channels.length > 0 "class="table table-striped">
                    <thead>
                    <tr>
                        <th>Span</th>
                        <th>Network</th>
                        <th>Link</th>
                        <th>Channel</th>
                        <th>Registration</th>
                        <th>State</th>
                        <th>Balance</th>
                        <th>N</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="channel in node.channels" valign="center">

                        <td>{{ channel.span }}</td>
                        <td>{{ channel.networkName }}</td>
                        <td>{{ channel.linkState }}</td>
                        <td>{{ channel.channelState }}</td>
                        <td>{{ channel.registrationState }}</td>
                        <td>{{ channel.operationalState}} </td>
                        <td>{{ channel.channelOperatorBalance }}</td>
                        <td>{{ channel.billableOperationsCounter.value }}</td>
                        <td>
                            <button class="btn" ng-click="details('node/{{node.nodeId}}')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                </button>
            </div>
        </div>
    </div>
</div>