<div class="container-fluid">

    <h3>Dialplans</h3>

    <div ng-repeat="dialplan in dialplans">

        <hr/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> {{ dialplan.name }} / {{ dialplan.weight }}</h4>
            </div>

            <div class="panel-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Origination Network</th>
                        <th>Termination Network</th>
                        <th>Positive N (RING, BUSY)</th>
                        <th>Negative N (OTHER)</th>
                        <th>State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="network in dialplan.connections">

                        <td>{{ network.originationNetworkOperator}}</td>
                        <td>{{ network.terminationNetworkOperator }}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>COLLECTING</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                </button>
                <!--
                <button class="btn btn-warning" ng-click="">
                    <span class="glyphicon glyphicon-pause"></span>&nbsp;&nbsp;Suspend
                </button>
                -->
            </div>
        </div>
    </div>
</div>