<div class="container-fluid">

    <h3>Telephony nodes</h3>

    <hr/>

    <div ng-if="countries.length == 0">
        <div class="alert alert-warning" role="alert">
            No nodes available. Please consult the system administrator.
        </div>
    </div>

    <div ng-repeat="(country, nodes) in countries">

        <h4>{{ country }}</h4>

        <hr/>

        <div class="panel panel-default">

            <div class="panel-heading">
                <h4 class="panel-title">Node: {{node.iso3166CountryCode}}/{{node.remoteHost}}</h4>
            </div>

            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Node</th>
                        <th>Location</th>
                        <th>Remote host</th>
                        <th>Remote user</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="node in nodes">

                        <td>{{ node.id }}</td>
                        <td>{{ node.iso3166CountryCode }}</td>
                        <td>{{ node.remoteHost }}</td>
                        <td>{{ node.remoteUser }}</td>
                        <td>
                            <a type="button" class="btn" href="#/node/{{node.nodeId}}">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Details
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
