<div class="container-fluid">

    <h3>Telephony Channels (All nodes)</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Node</th>
            <th>Location</th>
            <th>Internet Address</th>
            <th>State</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="node in nodes">

            <td>{{ node.nodeId }}</td>
            <td>{{ node.iso3166CountryCode }}</td>
            <td>{{ node.inetAddress }}</td>
            <td>{{ node.state }}</td>
            <td>
                <button class="btn" ng-click="details('node/{{node.nodeId}}')">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Details
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>