<div class="container-fluid">

    <h3>Network Operators</h3>

    <hr/>

    <div ng-repeat="(country, operators) in countries">

        <h4>{{ country }}</h4>

        <hr/>

        <div ng-repeat="operator in operators" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{ operator.name }}</h4>
            </div>

            <div class="panel-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Network (SIM)</th>
                        <th>Location</th>
                        <th>Int. Prefix</th>
                        <th>E.164</th>
                        <th>isOutbound</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ operator.name }}</td>
                        <td>{{ operator.networkName }}</td>
                        <td>{{ operator.iso3166CountryCode }}</td>
                        <td>{{ operator.idp }}</td>
                        <td>{{ operator.e164CountryCode }}</td>
                        <td>{{ operator.isOutboundEnabled }}</td>
                        <td>
                            <a type="button" class="btn" href="#/operator/{{operator.id}}">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Details
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <p>
                    <a ng-click="isCollapsed = !isCollapsed">
                        Toggle Network Destination Codes
                    </a>
                </p>

                <div collapse="isCollapsed">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Network Destination Codes</h4>
                        </div>

                        <div class="panel-body">

                            <div ng-if="operator.networkDestinationCodes.length == 0">
                                <div class="alert alert-warning" role="alert">
                                    No network destination codes available. Please add at least one network destination code,
                                </div>
                            </div>

                            <table class="table table-striped" ng-if="operator.networkDestinationCodes.length > 0">
                                <thead>
                                <tr>
                                    <th>Destination</th>
                                    <th>Since</th>
                                    <th>Enabled</th>
                                    <th>Extension Length</th>
                                    <th>Calls</th>
                                    <th>State</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="networkDestinationCode in operator.networkDestinationCodes">

                                    <td>{{ networkDestinationCode.destinationCode }}</td>
                                    <td>{{ networkDestinationCode.inOperationSince }}</td>
                                    <td>{{ networkDestinationCode.isActive }}</td>
                                    <td>{{ networkDestinationCode.range.length }}</td>
                                    <td>{{ networkDestinationCode.range.transitions }}</td>
                                    <td>{{ networkDestinationCode.range.state }}</td>
                                    <td>
                                        <a type="button" class="btn"
                                           href="#/operator/{{operator.id}}/network-destination-codes/{{networkDestinationCode.id}}">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Details
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>