<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Operator {{ operator.name }} Configuration</h4>
    </div>

    <div class="panel-body">

        <form name="form" method="post" class="form-horizontal" ng-submit="save()" novalidate>

            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">Country</label>

                <div class="col-sm-4">
                    <input id="country" class="form-control" type="text" name="iso3166CountryCode"
                           ng-model="operator.iso3166CountryCode" required/>

                    <div ng-show="form.$submitted || form.iso3166CountryCode.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.iso3166CountryCode.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;A country
                            code is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-4">
                    <input id="name" class="form-control" type="text" name="name" ng-model="operator.name" required/>

                    <div ng-show="form.$submitted || form.name.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.name.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;A name is
                            required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="networkName" class="col-sm-2 control-label">Network name (SIM)</label>

                <div class="col-sm-4">
                    <input class="form-control" id="networkName" type="text" name="networkName"
                           ng-model="operator.networkName" required/>

                    <div ng-show="form.$submitted || form.networkName.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.networkName.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;A network
                            name is required.
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="idp" class="col-sm-2 control-label">Int. prefix</label>

                <div class="col-sm-4">
                    <input class="form-control" id="idp" type="text" name="idp" ng-model="operator.idp" required/>

                    <div ng-show="form.$submitted || form.idp.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.idp.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;An
                            International Dialing Prefix is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="e164" class="col-sm-2 control-label">E.164</label>

                <div class="col-sm-4">
                    <input class="form-control" id="e164" type="text" name="e164CountryCode"
                           ng-model="operator.e164CountryCode" required/>

                    <div ng-show="form.$submitted || form.e164CountryCode.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.e164CountryCode.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;An E.164
                            country code is required.
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <label for="isOutboundEnabled" class="col-sm-2 control-label">&nbsp;</label>

                <div class="col-sm-4">
                    <input type="checkbox" id="isOutboundEnabled" name="isOutboundEnabled"
                           ng-model="operator.isOutboundEnabled"/>
                    Operator is outbound enabled.
                </div>
            </div>

            <div class="form-group">
                <label for="hasCallBarringCapability" class="col-sm-2 control-label">&nbsp;</label>

                <div class="col-sm-4">
                    <input type="checkbox" id="hasCallBarringCapability" name="hasCallBarringCapability"
                           ng-model="operator.hasCallBarringCapability"/> Operator has call barring
                    capability
                </div>
            </div>

            <div class="form-group">
                <label for="hasUUSDCapability" class="col-sm-2 control-label">&nbsp;</label>

                <div class="col-sm-4">
                    <input type="checkbox" id="hasUUSDCapability" name="hasUUSDCapability"
                           ng-model="operator.hasUUSDCapability" disabled/>
                    Operator has USSD recharge capability
                </div>
            </div>
            
            <hr />

            <div class="form-group">
                <label for="balanceThreshold" class="col-sm-2 control-label">Balance Threshold</label>

                <div class="col-sm-4">
                    <input class="form-control" id="balanceThreshold" type="number" name="balanceThreshold"
                           ng-model="operator.balanceThreshold" required min="1"/>

                    <div ng-show="form.$submitted || form.balanceThreshold.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.balanceThreshold.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;A balance
                            threshold is required.
                        </div>
                        <div class="alert alert-warning" role="alert" ng-show="form.balanceThreshold.$error.min">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;The balance
                            threshold should be at least 1.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="balanceInterval" class="col-sm-2 control-label">Balance Interval</label>

                <div class="col-sm-4">
                    <input class="form-control" id="balanceInterval" type="number" name="balanceInterval"
                           ng-model="operator.balanceInterval" required min="25"/>

                    <div ng-show="form.$submitted || form.balanceInterval.$touched">
                        <div class="alert alert-warning" role="alert" ng-show="form.balanceInterval.$error.required">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;An balance
                            interval is required.
                        </div>
                        <div class="alert alert-warning" role="alert" ng-show="form.balanceInterval.$error.min">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;The balance
                            threshold should be at least 25.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Network Destination Codes</h4>
    </div>

    <div class="panel-body">

        <div ng-if="operator.networkDestinationCodes.length == 0">
            <div class="alert alert-warning" role="alert">
                No network destination codes available. Please add at least one network destination code,
            </div>
        </div>
        
    </div>
</div>