<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="csrf" th:content="${_csrf.token}"/>
        <title>Administration</title>
        <link rel="stylesheet" th:href="@{/components/bootstrap/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" />

        <!-- angular -->
        <script th:src="@{/components/angular/angular.min.js}"></script>
        <script th:src="@{/components/angular-route/angular-route.min.js}"></script>
        <script th:src="@{/components/angular-bootstrap/ui-bootstrap.min.js}"></script>
        
        <!-- custom -->
        <script th:src="@{/js/app.js}"></script>
        <script th:src="@{/js/controllers.js}"></script>
    </head>

    <body>
    
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li dropdown="true">
                            <a href="#" dropdown-toggle="true">System<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/channels">Channels</a></li>
                            </ul>
                        </li>
                        <li dropdown="true">
                            <a href="#" dropdown-toggle="true">Telephony<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/dialplans">Dialplans</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Network</li>
                                <li><a href="#/operators">Network Operators</a></li>
                                <li><a href="#/nodes">Airtime Vouchers</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Servers</li>
                                <li><a href="#/nodes">Telephony Nodes</a></li>
                            </ul>
                        </li>
                        <li dropdown="true">
                            <a href="#" dropdown-toggle="true">Data Collection<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Exports</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    
        <!-- Begin page content -->
        <div class="container-fluid">
            <div ng-view="true"></div>
        </div>
    
        <footer class="footer">
            <div class="container">
                <p class="text-muted">[--]</p>
            </div>
        </footer>
    </body>
</html>

